# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unity

# Dynamics Engine's redundancies
build*/
*build/
cmake-build-debug/
*.casadi
file_list.txt
*.m~
*.swp
*.pyc
.DS_Store
tags
*.cache
.vscode/
cmake-build-remote-lab/*
cmake-build-default/*
.ftpconfig
.~lock.notes.odt#
notes.odt
/cmake-build-default/
data/*
eigen-3.3.7/
**casadi/
