<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="revolute_rotor_properties.xacro"/>

    <xacro:macro name="one_revolute_rotor_pair_serial_chain"
                 params="parent_link_idx child_link_idx">
        <xacro:independent_joint name="link_${parent_link_idx}_to_link_${child_link_idx}"
            parent="link_${parent_link_idx}"
            child="link_${child_link_idx}"/>
        <xacro:link name="link_${child_link_idx}"/>
        <xacro:dependent_joint name="link_${parent_link_idx}_to_rotor_${child_link_idx}"
            parent="link_${parent_link_idx}"
            child="rotor_${child_link_idx}"/>
        <xacro:rotor name="rotor_${child_link_idx}"/>
        <xacro:transmission name="transmission_${child_link_idx}"
            predecessor="link_${child_link_idx}"
            successor="rotor_${child_link_idx}"/>
            
        <xacro:independent_joint name="link_${child_link_idx}_to_link_${child_link_idx + 1}"
            parent="link_${child_link_idx}"
            child="link_${child_link_idx + 1}"/>
        <xacro:link name="link_${child_link_idx + 1}"/>
        <xacro:dependent_joint name="link_${parent_link_idx}_to_rotor_${child_link_idx + 1}"
            parent="link_${parent_link_idx}" child="rotor_${child_link_idx + 1}"/>
        <xacro:rotor name="rotor_${child_link_idx + 1}"/>
        <xacro:transmission name="transmission_${child_link_idx + 1}"
            predecessor="link_${child_link_idx + 1}"
            successor="rotor_${child_link_idx + 1}"/>
    </xacro:macro>

    <xacro:macro name="revolute_rotor_pair_root_branch" params="branch_count">
        <xacro:if value="${branch_count}">
            <xacro:independent_joint name="base_to_link_${branch_count * 2 - 1}"
                parent="Floating Base"
                child="link_${branch_count * 2 - 1}"/>
            <xacro:link name="link_${branch_count * 2 - 1}"/>
            <xacro:dependent_joint name="base_to_rotor_${branch_count * 2 - 1}"
                parent="Floating Base"
                child="rotor_${branch_count * 2 - 1}"/>
            <xacro:rotor name="rotor_${branch_count * 2 - 1}"/>
            <xacro:transmission name="transmission_${branch_count * 2 - 1}"
                predecessor="link_${branch_count * 2 - 1}"
                successor="rotor_${branch_count * 2 - 1}"/>
                
            <xacro:independent_joint name="link_${branch_count * 2 - 1}_to_link_${branch_count * 2}"
                parent="link_${branch_count * 2 - 1}"
                child="link_${branch_count * 2}"/>
            <xacro:link name="link_${branch_count * 2}"/>
            <xacro:dependent_joint name="base_to_rotor_${branch_count * 2}"
                parent="Floating Base" child="rotor_${branch_count * 2}"/>
            <xacro:rotor name="rotor_${branch_count * 2}"/>
            <xacro:transmission name="transmission_${branch_count * 2}"
                predecessor="link_${branch_count * 2}"
                successor="rotor_${branch_count * 2}"/>

            <xacro:revolute_rotor_pair_root_branch branch_count="${branch_count - 1}"/>
        </xacro:if>
    </xacro:macro>

    <xacro:macro name="sequential_revolute_rotor_pair_serial_chain" params="parent_link_idx count">
        <xacro:if value="${count - 1}">
            <xacro:one_revolute_rotor_pair_serial_chain parent_link_idx="${parent_link_idx}"
                child_link_idx="${parent_link_idx + 1}"/>

            <xacro:sequential_revolute_rotor_pair_serial_chain parent_link_idx="${parent_link_idx + 2}"
                count="${count - 1}"/>
        </xacro:if>
    </xacro:macro>

    <xacro:macro name="nonsequential_revolute_rotor_pair_serial_chain" params="parent_link_idx first_child_link_idx count">
        <xacro:one_revolute_rotor_pair_serial_chain parent_link_idx="${parent_link_idx}"
            child_link_idx="${first_child_link_idx}"/>
        <xacro:sequential_revolute_rotor_pair_serial_chain parent_link_idx="${first_child_link_idx + 1}" count="${count - 1}"/>
    </xacro:macro>

</robot>
