<?xml version="1.0"?>

<robot name="parallel_chain_imp_5" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="../Implicit/implicit_parallel_chains_properties.xacro"/>

    <xacro:add_parallel_links_and_joints_from_base/>
    <xacro:add_constrained_parallel_links_and_joints idx="2"/>

</robot>
