<?xml version="1.0"?>

<robot name="variable_revolute_rotor_chain" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="loop_count" default="3"/>
    <xacro:property name="loop_count" value="$(arg loop_count)"/>
    <xacro:include filename="revolute_rotor_properties.xacro"/>

    <link name="base"/>
    <xacro:root_branch branch_count="1"/>
    <xacro:serial_chain start_link_idx="1" count="${loop_count - 1}"/>
</robot>
